<a href="https://colab.research.google.com/github/joaovictormtl/Data-Science/blob/main/projeto_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importação

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Datasets/age_dataset.csv')

In [ ]:
df.head(1)

#Polimento

In [ ]:
df = df.rename(columns={'Id':'id', 'Name':'nome', 'Short description':'descricao',\
                   'Gender':'genero','Country':'pais', 'Occupation':'profissao',\
                   'Birth year':'nascimento', 'Death year':'ano_morte',\
                   'Manner of death':'morte_causa', 'Age of death':'idade_morte'})

##Mudando o número máximo de caracteres para as colunas

In [ ]:
df['descricao'].str.len().max()

269.0

In [ ]:
pd.set_option('max_colwidth', 250)

In [ ]:
df.head(1)

,id,nome,descricao,genero,pais,profissao,nascimento,ano_morte,morte_causa,idade_morte
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Britain,Politician,1732,1799.0,natural causes,67.0

# Valores Nulos

In [ ]:
df.isnull().sum()

id                   0
nome                 0
descricao        67900
genero          133646
pais            335509
profissao       206914
nascimento           0
ano_morte            1
morte_causa    1169406
idade_morte          1
dtype: int64

## Mudando o tipo primitivo das colunas e Preenchendo Valores Nulos

In [ ]:
df['descricao'].fillna("Não Preenchido", inplace=True)

In [ ]:
df['genero'].fillna("Não Preenchido", inplace=True)

In [ ]:
df['pais'].fillna("Não Preenchido", inplace=True)

In [ ]:
df['profissao'].fillna("Não Preenchido", inplace=True)

In [ ]:
df['ano_morte'].fillna(0, inplace=True)
df['ano_morte'] = df.ano_morte.astype('int')

In [ ]:
df['idade_morte'].fillna(0, inplace=True)
df['idade_morte'] = df.idade_morte.astype('int')

In [ ]:
df['morte_causa'].fillna("Desconhecido", inplace=True)

In [ ]:
df.isna().sum()

id             0
nome           0
descricao      0
genero         0
pais           0
profissao      0
nascimento     0
ano_morte      0
morte_causa    0
idade_morte    0
dtype: int64

# Manipulações

In [ ]:
df2 = df

## Períodos Históricos

In [ ]:
def definirPeriodo(row):
    if row['ano_morte'] < 476:
        return "Antigo"
    elif row['nascimento'] >= 476 and row['ano_morte'] < 1453:
        return "Médio"
    elif row['nascimento'] >= 1453 and row['ano_morte'] < 1789:
        return "Moderno"
    else:
        return "Contemporâneo"

In [ ]:
df['periodo'] = df.apply(definirPeriodo, axis=1)

In [ ]:
df.head(5)

## 1 - Média da idade com que as pessoas morriam nos diferentes períodos históricos

In [ ]:
periodo_morte = df.groupby('periodo').mean()['idade_morte']
periodo_morte.to_frame().sort_values(by='idade_morte', ascending=False)

## 2 - Suicídio: Média da idade com que as pessoas se suicidam

In [ ]:
selecao = df['morte_causa'] == 'suicide'
df_suicide = df[selecao]

df_suicide.groupby('morte_causa').mean()['idade_morte'].to_frame()

## 3 - Quantidade registros por gênero

In [ ]:
df.groupby('genero').count().sort_values('id', ascending=False)['id'].to_frame()

## 4 - Homicídio: Profissionais mais sujeitos a sofrer homicídios

In [ ]:
df_homicide = df.query('morte_causa == "homicide"')

In [ ]:
df_homicide.groupby('profissao').count().sort_values('id', ascending=False)['id'].to_frame()

# Dash

In [ ]:
pip install dash

In [ ]:
from dash import Dash, html, dcc, Input, Output
import plotly.express as px

# Média da Idade com que as pessoas morriam nos diferentes períodos históricos

In [ ]:
lista_media_mortes = list(df.groupby('periodo').mean()['idade_morte'])
per = list(df['periodo'].unique())
periodos = sorted(per)

# Criando o DataFrame com as informações necessárias

df_periodos = pd.DataFrame({
    "Período Histórico": periodos,
    "Média Idade": lista_media_mortes
})

In [82]:
app = Dash(__name__)

fig = px.bar(df_periodos, x="Período Histórico", y="Média Idade", color="Período Histórico")
opcoes = list(df_periodos['Período Histórico'])
opcoes.append("Todos")

app.layout = html.Div(children = [
    html.H1(children = "Média das Idades"),
    html.Div(children = '''
      Este gráfico mostra a média da idade com que as pessoas morriam nos diferentes períodos históricos.
    '''),

    dcc.Dropdown(opcoes, value='Todos', id="lista_periodos"),

    dcc.Graph(
        id="grafico_periodos",
        figure=fig
    )
])

@app.callback(
    Output('grafico_periodos', 'figure'),
    Input('lista_periodos', 'value')
)
def update_output(value):
  if value == "Todos":
    fig = px.bar(df_periodos, x="Período Histórico", y="Média Idade", color="Período Histórico")
  else:
    df_filtragem = df_periodos.loc[df_periodos['Período Histórico'] == value, :]
    fig = px.bar(df_filtragem, x="Período Histórico", y="Média Idade", color="Período Histórico")
  return fig

if __name__ == '__main__':
  app.run_server(debug=True)